body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}
main h1 {
	background-color: #851944;
	color: #FFF;
	text-align: center;
	padding: 25px;
	margin: 0;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
}
main div {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}
h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}
h1 {
	text-transform: uppercase;
}
h2 {
	font-size: 30px;
	clear: both;
}
p {
	text-align: justify;
	margin: 20px 0;
}
blockquote {
	background-color: #D9E5E3;
	padding: 20px;
	border: 10px solid #C2CCCA;
	border-bottom-color: #333;
	border-right-color: #FFF;
	width: 250px;
	margin: 20px 40px;
	box-sizing: border-box;
}
aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
}
aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}
aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}
.icones-sociais li {
	display: inline-block;
}
.icones-sociais a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -99999px;
}
.github {
	background-image: url(github.png);
}
.twitter {
	background-image: url(twitter.png);
}
.linkedin {
	background-image: url(linkedin.png);
}
#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}
nav a {
	color: #F2FFFC;
	text-transform: lowercase;
}
ul {
	color: pink;
	list-style-type: none;
}
ul li {
	color: inherit;
}
main a {
	color: #851944;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}
.leia-mais {
	font-size: 38px;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color: #EEEFFF;
}
.fiat {
	float: right;
}
.petrobras {
	float: left;
}
aside, img {
	width: 20%;
	float: right;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
	box-sizing: border-box;
}
aside {
	clear: right;
}
main {
	width: 80%;
	float: left;
}
footer {
	clear: both;
}
cite {
	font-style: italic;
	float: right;
}